<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:utext="${title}"></title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-resource/angular-resource.js"></script>
    <!--add antother js-->
    <script src="js/MainApp.js"></script>
    <script src="js/UploadFileCtrl.js"></script>
    <script src="js/GetFilesCtrl.js"></script>
</head>
<body>
    <div ng-app="MainApp">
    <div ng-controller="UploadFileController">
        <form>
            Description:<br/>
            <input type="text" name="description" ng-model="myForm.description" style="width:350px"/>
            <br/>
            <br/>
            File to upload(1):<input type="file" file-model="myForm.files[0]"/><br/>
            File to upload(2):<input type="file" file-model="myForm.files[1]"/><br/>
            File to upload(3):<input type="file" file-model="myForm.files[2]"/><br/>
            File to upload(4):<input type="file" file-model="myForm.files[3]"/><br/>
            File to upload(5):<input type="file" file-model="myForm.files[4]"/><br/>
            <button type="button" ng-click="doUploadFile()">Upload</button>
        </form>
        <h2>Upload Result</h2>
        <div style="border:1px solid #ccc;padding:5px">
            <span ng-bind="uploadResult"></span>
        </div>
    </div>
    <hr/>
    <!--get all files-->
    <div ng-controller="GetFilesController">
        <button type="button"  ng-click="getAllFiles()">Get All Files</button>
        <ul>
            <li ng-repeat="file in allFiles">
                <a href="/api/rest/{{file}}">{{file}}</a>
                <!--
                <img src="/api/rest/{{file}}" />
                -->
            </li>
        </ul>
    </div>
    </div>
</body>
</html>